.button {
  padding: 12px 16px;
  width: 100px;
  height: 36px;
  color: white;
  font-family: $nunito-bold;
  font-size: rem(11px);
  text-transform: uppercase;
  background: $textYellow;
  border-radius: 5px;
  cursor: pointer;
  @include scale-animation-icon;
}