.allSliders {
  // margin-top: -100px;
}

.slider__trends {
  margin-top: -140px;

  @include desktop-Xlarge {}
}

.slider__discover {
  margin-top: 50px;
}


.slider__trends {
  height: 490px;

  @include desktop-Xlarge {
    height: 510px;

  }

  .img-medium {
    width: auto;
    height: 400px;
    object-fit: cover;
    margin: 50px 0;

  }

  .hover {
    @include scale-animation-medium;
  }

  .slide .tns-item {
    width: auto;
    height: auto;
    padding-right: 0px;
  }


  .smallSlider {
    min-height: 250px;
  }

  .tns-controls {
    position: relative;
    top: 241px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-decoration: none;
    border: none;
    outline: none;
    z-index: 0;

    @include desktop-Xlarge {
      // top: 241px;
      top: 331px;
    }
  }

  .tns-controls>button:nth-child(1) {
    position: relative;
    left: -80px;
    color: $textYellow;
    font-size: 60px;
    background: none;
    border: none;
    outline: none;
  }

  .tns-controls>button:nth-child(2) {
    position: relative;
    right: -80px;
    color: $textYellow;
    font-size: 60px;
    background: none;
    border: none;
    outline: none;
  }

  #tns2-ow {
    line-height: 10em;

  }

  #tns8-mw {
    height: 629px;

  }
}


.slider__discover {
  height: 490px;

  .img-medium {
    width: auto;
    height: 400px;
  }

  .hover {
    @include scale-animation-medium;
  }

  .slide .tns-item {
    width: auto;
    height: auto;
    padding-right: 0px;
  }


  .smallSlider {
    min-height: 250px;
  }

  .tns-controls {
    position: relative;
    top: 325px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-decoration: none;
    border: none;
    outline: none;
    z-index: 0;

    @include desktop-Xlarge {
      top: 241px;
    }
  }

  .tns-controls>button:nth-child(1) {
    position: relative;
    left: -80px;
    color: $textYellow;
    font-size: 60px;
    background: none;
    border: none;
    outline: none;
  }

  .tns-controls>button:nth-child(2) {
    position: relative;
    right: -80px;
    color: $textYellow;
    font-size: 60px;
    background: none;
    border: none;
    outline: none;
  }

  #tns2-ow {
    line-height: 10em;

  }

  #tns8-mw {
    height: 629px;



  }

  .tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s;
    height: 629px;
  }

  #tns1-mw {
    height: 400px;
  }

  .tns-ovh {
    overflow: hidden;
    // height: 322px;
    height: 629px;
    padding: 40px 0 0 0; // height: 135px;
  }
}