// Version: 2.9.2
.allSliders {
  // margin-top: -100px;
}

.slider__populary,
.slider__reprendre,
.slider__list,
.slider__fantastic,
.slider__police,
.slider__comedy {
  // max-height: 380px;
  max-height: 580px;

  @include desktop-Xlarge {
    max-height: 630px;
    // max-height: 430px;
  }
}


.slider__reprendre {
  margin-top: 80px;

  @include desktop-Xlarge {
    margin-bottom: 12px;
  }
}

.slider__populary {
  // margin-top: -125px;
  margin-top: -110px;

  @include desktop-Xlarge {
    top: -99px;
  }

}

.slider__list {
  margin-top: 100px;
}

.slider__fantastic {
  margin-top: 100px;
}

.slider__police {
  // margin-top: -130px;
  margin-top: -110px;

  @include desktop-Xlarge {
    top: -105px;
  }
}

.slider__comedy {
  // margin-top: -130px;
  margin-top: -110px;

  @include desktop-Xlarge {
    margin-top: -103px;
  }

}


// .hover {
//   @include scale-animation;
// }

.slide .tns-item {
  width: auto;
  height: auto;
  padding-right: 0px;
}

.img {
  width: 272px;
  // width: auto;
  height: 167px;
  z-index: -1;
  position: relative;
}

.smallSlider {
  min-height: 250px;
}

.tns-controls {
  position: relative;
  top: 175px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  border: none;
  outline: none;
  z-index: 0;

  @include desktop-Xlarge {
    top: 175px;
  }
}

.tns-controls>button:nth-child(1) {
  position: relative;
  left: -80px;
  color: $textYellow;
  font-size: 60px;
  background: none;
  border: none;
  outline: none;
}

.tns-controls>button:nth-child(2) {
  position: relative;
  right: -80px;
  color: $textYellow;
  font-size: 60px;
  background: none;
  border: none;
  outline: none;
}

#tns2-ow {
  // line-height: 10em;

}

#tns1-mw {
  height: 400px;
}

.tns-outer {
  display: content;
  padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
  width: auto;
  height: auto;
  background: transparent;


  .tns-inner {
    margin: 0px -72px 0px 100px;
    // line-height: 26em;
  }

  [hidden] {
    display: none !important;
  }

  [aria-controls],
  [data-action] {
    cursor: pointer;
  }
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;

  >.tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
  }
}

.tns-horizontal {
  &.tns-subpixel {
    white-space: nowrap;
    // height: 20em;

    >.tns-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }

  &.tns-no-subpixel {
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    >.tns-item {
      float: left;
    }
  }

  &.tns-carousel {
    &.tns-no-subpixel {
      >.tns-item {
        margin-right: -100%;
      }
    }
  }
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;

  left: 0;
  min-height: 1px; // make sure slider container is visible

  // overflow: hidden;
  >.tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
    width: auto;
  }

  >.tns-slide-active {
    position: relative;
    left: auto !important;
  }

  >.tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;

  &.tns-complete {
    opacity: 1;
  }
}

.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
  height: 400px;
}

#tns1-mw {
  height: 400px;
}

.tns-ovh {
  overflow: hidden;
  // height: 322px;
  height: 400px;
  padding: 40px 0 0 0; // height: 135px;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

// *** Fix a viewport issue in initialization
.tns-vpfix {
  white-space: nowrap;

  >div,
  >li {
    display: inline-block;
  }
}

// *** Detecting browser capability ***
$width: 310px;
$height: 1000px;
$count: 70;
$perpage: 3;

.tns-t {
  &-subp2 {
    margin: 0 auto;
    width: $width;
    position: relative;
    height: $height;
    overflow: hidden;
  }

  &-ct {
    width: (100% * $count / $perpage);
    width: -webkit-calc(100% * #{$count} / #{$perpage});
    width: -moz-calc(100% * #{$count} / #{$perpage});
    width: calc(100% * #{$count} / #{$perpage});
    position: absolute;
    right: 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    >div {
      width: (100% / $count);
      width: -webkit-calc(100% / #{$count});
      width: -moz-calc(100% / #{$count});
      width: calc(100% / #{$count});
      height: $height;
      float: left;
    }
  }
}