.footer {
  display: grid;
  grid-row: 40vh 20vh 2vh 2vh;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 25vw;
  width: 100vw;
  color: $textWhite;
  line-height: 2;
  background-image: $BackgroundColor;
  grid-template-areas:
    'a a b c d e'
    'i f f f f f'
    'i g g g g g'
    'i j j j . h';
  margin-top: 250px;

  &__logo {
    display: flex;
    flex-direction: column;
    grid-area: a;
    align-items: center;
    margin-top: 20%;
  }

  &__account {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    font-family: $nunito-light;
    font-size: rem(16px);

    .account__title {
      font-family: $nunito-bold;
      font-size: rem(24px);
      text-transform: uppercase;
    }

    .account__inside {
      @include scale-animation-text;
    }
  }

  &__help {
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $nunito-light;
    margin: 16px 0;
    font-size: rem(16px);

    .help__title {
      font-family: $nunito-bold;
      font-size: rem(24px);
      text-transform: uppercase;
    }

    .help__inside {
      @include scale-animation-text;
    }
  }

  &__enterprise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    font-family: $nunito-light;
    font-size: rem(16px);

    .enterprise__title {
      font-family: $nunito-bold;
      font-size: rem(24px);
      text-transform: uppercase;
    }

    .enterprise__inside {
      @include scale-animation-text;
    }
  }

  &__languages {
    grid-area: e;
    @include flexbox(column, space-around, center);

    .languages__button {
      // background-color: #014a8d;
      // border: 1px solid $textYellow;
      // color: $textWhite;
      font-weight: bold;
      width: 170px;
      @include flexbox(row, space-around, center);
    }

    img {
      width: 15px;
    }
  }

  &__picture {
    grid-area: i;
    padding-left: 24px;
  }

  &__socialMedia {
    grid-area: f;

    @include flexbox(column, space-around, center);

    .socialMedia__text {
      margin: 16px 0;
      font-size: rem(32px);
      font-weight: bold;

      // text-decoration: underline $textWhite;
    }

    .socialMedia__icons {
      @include flexbox(row, center, center);

      .icons__facebook,
      .icons__insta,
      .icons__twitter {
        width: 32px;
        height: 32px;
        margin: 0 12px;

        path {
          fill: white;
        }

        &:hover {
          @include scale-animation-icon;
        }
      }
    }
  }

  &__moreInfos {
    margin: 40px 32px;
    grid-area: g;
    font-family: $nunito-light;
    font-size: rem(13px);
    font-variant: small-caps;

    @include flexbox(row, space-around, center);
  }

  &__copyRight {
    grid-area: h;
    @include flexbox(row, flex-end, flex-end);
    padding-right: 80px;
    padding-bottom: 8px;
    font-family: $nunito-light;
    font-size: rem(10px);

    @include desktop-Xlarge {
      padding-right: 110px;
    }
  }

  &__project {
    grid-area: j;
    @include flexbox(row, flex-end, flex-end);
    padding-right: 24px;
    padding-bottom: 8px;
    font-family: $nunito-light;
    font-size: rem(10px);

    @include desktop-Xlarge {
      padding-right: 56px;
    }

    strong {
      &:hover {
        color: $textYellow;
        font-weight: regular;
      }
    }
  }
}
