.genre {

  margin-bottom: 150px;
  position: relative;


  .genre__button{
    display: block;
    background-color: $white;
    width: 120px;
    height: 33px;
    color: $black;
    margin-top: 24px;
    border: 2px solid $textYellow;
    border-radius: 4px;
    cursor: pointer;
    //background-color: #000a30;
    @include scale-animation-text;
    text-align: center;
    font-family: $nunito-regular;
    font-size: 16px;

    
  }

  .genre__list{
    
    display: none;
    position: absolute;
    background-color: #000a30;
    line-height: 1.5;
    
    ul{
      padding: 32px;

      li {
        &:hover {
          @include scale-animation-text;
        }
      }
      
    }
  }

  .is-open {
    opacity: 0.5;
  }

  

  .is-open-genreList {
    @include flexbox(row, flex-start, flex-start);
    background-color: #000a30;
    line-height: 1.5;
    margin-bottom: 24px 0 0 0;
    border: 2px solid $textYellow;
    width: 100%;
    margin-top: 32px;
    
  }
}