.genre {
  position: absolute;
  top: 5em;
  left: 6em;
  z-index: 2;


  .genre__button{
    display: block;
    padding: 12px 16px;
    width: 120px;
    height: 45px;
    color: $textWhite;
    width: 120px;
    color: $textWhite;
    margin-top: 24px;
    border: 2px solid $textYellow;
    border-radius: 5px;
    cursor: pointer;
    //background-color: #000a30;
    @include scale-animation-text;

    
  }

  .genre__list{
    
    display: none;
    position: absolute;
    background-color: #000a30;
    line-height: 1.5;
    z-index: 1;
    
    ul{
      padding: 32px;

      li {
        &:hover {
          @include scale-animation-text;
        }
      }
      
    }
  }

  .is-open {
    opacity: 0.5;
  }

  

  .is-open-genreList {
    @include flexbox(row, flex-start, flex-start);
    background-color: #000a30;
    line-height: 1.5;
    margin-bottom: 24px 0 0 0;
    border: 2px solid $textYellow;
    margin-top: 32px;
    
  }
}