.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  height: 10vh;
  overflow: hidden;
  font-family: $nunito-regular;
  background: #000E36;

  @include desktop-Xlarge {
    padding: 0 80px;
  }

  &__firstPart {
    @include flexbox(row, space-evenly, center);
  }

  .headerFirstPart__logo {
    padding-left: 24px;
    @include scale-animation-icon;

  }

  .headerFirstPart__menu {
    padding-left: 24px;
    @include flexbox;


    .menu__list {
      @include flexbox(row, space-between, center);

      li {
        padding: 5px 0;
        margin: 20px 10px;
        width: auto;
        height: 30px;

        &:hover {
          border-bottom: 0.7px solid $textYellow;
        }


        @include desktop-Xlarge {
          margin: 20px 20px;
        }

        a {
          font-size: rem(14px);
        }
      }

      .icon-text {
        @include flexbox(row, center, space-between);

        img {
          margin-right: 5px;
        }
      }
    }
  }

  &__secondPart {
    @include flexbox(row, space-between, center);




    .headerSecondPart {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__iconsSearch {
        height: 40px;
        width: 40px;
        padding: 0 8px;
        margin-right: 16px;
        @include scale-animation-icon;

      }

      &__iconsNotification {
        height: 40px;
        width: 40px;
        padding: 0 8px;
        margin-right: 8px;
        @include scale-animation-icon;



      }

      &__profilPicture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 24px;
        @include scale-animation-icon;
      }

      &__profilArrow {
        height: 32px;
        width: 32px;
        padding: 0 8px;
        @include scale-animation-icon;

      }
    }

  }

}