/* .hero__section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;

  .heroFilm__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 100vh;

    .video__background {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .heroFilm__describe {
    font-family: $nunito-regular;
    position: relative;
    padding: 32px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 5px;
    width: 100vw;
    

    .film__director {
      margin: 24px 0;
    }

    .heroFilm__notation {
      margin-bottom: 32px;
      margin-top: 16px;
    }

    .heroFilm__fonctionnality {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .film__player {
        display: flex;
        justify-content: space-between;
        width: 300px;

        .player__button {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          @include scale-animation-icon;

          .button__play {
            width: 20px;
          }
        }

        .player__addToMyList {
          @include scale-animation-icon;
          cursor: pointer;
        }

        .player__upload {
          @include scale-animation-icon;
          cursor: pointer;
        }
      }
    }
  }
<<<<<<< Updated upstream
} */
=======
}
.allFilms__title {
  color: #f9b32d;
  font-family: 'Nunito Bold', sans-serif;
  font-size: 1.25rem;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  //position: relative;
  margin-top: 95px;
  margin-left: 130px;
}
.allFilms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px 80px;
}

.filmListing {
  width: 360px;
  height: 260px;
  background-image: url('/images/ficheFilm-stamped.svg');
  @include flexbox(row, space-between, flex-end);
  margin-top: 24px;

  &:hover {
    border: 2px solid $textYellow;
  }

  .filmLIstInfos {
    background-image: $backgroundImageFilm;
    @include flexbox(row, space-between, flex-end);
    height: 100px;
    width: 360px;
    padding: 0 8px 4px 8px;
    line-height: 1.5;

    &__category {
      font-size: rem(14px);
      font-family: $nunito-bold;
    }

    .filmLIstInfos__icons {
      align-self: center;
    }
  }
}

.allFilmsTwo {
  background-image: url('/images/ficheFilms-blackButler.svg');
}

.allFilmsThree {
  background-image: url('/images/PageFilm1-Naruto-Aventure-Film.svg');
}

.allFilmsFour {
  background-image: url('/images/ficheFilmsDBZ.svg');
}

.allFilmsFive {
  background-image: url('/images/ficheFilms-fateStay.svg');
}

.allFilmsSix {
  background-image: url('/images/ficheFilms-psychoPass.svg');
}
>>>>>>> Stashed changes
