.ficheSeries__banniere {
  background-image: url('/images/titans.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  padding: 1rem 5rem 5rem 10rem;
  width: 100%;
}

.ficheSeries__choice {
  padding-bottom: 2.5rem;
  padding-top: 3.2rem;
}

.ficheSeries__episode {
  margin-right: auto;
  margin-left: auto;
  max-width: 1206px;
  padding-top: 2.5rem;
  border-radius: 8px;
}

.episode {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  grid-template-rows: auto;
  background-color: $white;
  color: $black;
  cursor: pointer;

  @include scale-animation-text;
}

.episode article {
  padding-top: 1rem;
  padding-left: 1rem;
  line-height: 24px;
  font-size: 14px;
}
.episode article h2 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.historic__episode {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 1rem;
}

.episode_add {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9rem;
}

.yellowBox {
  display: block;
  background-color: $textYellow;
  border-radius: 0 8px 8px 0;
  color: $white;
  text-align: left;
  padding: 1em;
  position: relative;
}

.yellowBox p {
  padding-bottom: 0.2rem;
}

.yellowBox_download {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.hero--serie {
  background-image: url('/images/titans.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  width: 100%;
}

.hero__content--serie {
  background: transparent;
}

.ficheSeries__seasonMenu {
  border: 1px solid $textYellow;
  border-radius: 8px;
  width: 5em;
  height: 2em;
  overflow: hidden;
  background-color: #000a2d;
  margin: 2em 0 0 10em;
}

.ficheSeries__seasonMenu--serie {
  // position: absolute;
  // top: 47em;
  transform: translate(-160px, -50px);
}

.seasonMenu-is-open {
  height: auto;
}

.ficheSeries__season {
  text-align: center;
  height: 2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ficheSeries__season--item {
  background-color: #014a8d;
  font-size: 0.8rem;
  border-top: 1px solid $DetailsLightGrey;
}

.ficheSeries__season--item:hover {
  background-color: #000a2d;
}

// .icheSeries__seasonMenu {
//   // position: absolute;
//   top: 47em;
//   transform: translate(-160px, -50px);
// }
