.hero {
  padding: 215px 0 50px 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/hero_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  // object-fit: contain;

  @include desktop-Xlarge {
    padding: 300px 0 50px 0;
  }

  &__content {
    margin-left: 80px;
    max-width: 550px;
    @include flexbox(column, space-between, space-between);

    @include desktop-Xlarge {
      margin-left: 130px;
    }
  }

  &__img {
    margin-right: 200px;
  }

  &__realisator {
    margin: 24px 0;
  }

  &__synopsis {
    margin: 0 0 16px 0;
  }

  &__average {
    margin: 0 450px 32px 0;
  }

  &__ctas {
    @include flexbox(row, space-between, center);
    max-width: 300px;
  }

  &__play {
    padding: 12px;
    border: none;
    @include flexbox(row, space-around, center);

    img {
      width: 20px;
    }
  }

  &__details {
    border: none;
    @include flexbox(row, space-between, center);

    img {
      width: 20px;
      height: 15px;
      margin-left: 8px;
    }
  }

  &__download {
    width: 33px;
    @include scale-animation-icon;
  }

  &__add {
    width: 35px;
    @include scale-animation-icon;
  }

  &__mute {
    position: absolute;
    top: 570px;
    right: 95px;
    width: 35px;
    @include scale-animation-icon;

    @include desktop-Xlarge {
      top: 670px;
    }
  }
}