.landingHero {
  &__contenair {
    height: 650px;
    background-image: url(/images/LandingPage-hero-medium1.svg);
    // background-image: url(/images/Landingpage-1hero.svg);

    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #ffb800;
  }

  &__header {
    &__Otaku {
      margin-top: 48px;
      margin-left: 80px;
    }

    &__layoutbtn {
      transform: translateY(-90px);
      @include flexbox($justify: flex-end);

      &__btnLogin {
        justify-content: flex-end;
        margin-top: 48px;
        margin-right: 80px;
        width: 168px;
        height: 48px;
        color: white;
        font-family: $nunito-bold;
        font-size: rem(20px);
        background: #ffb800;
        border-radius: 8px;
      }
    }
  }

  &__unlimited {
    transform: translateY(40px);
    @include flexbox(column);

    &__content {
      margin-top: 48px;
    }

    &__tittle {
      font-family: $nunito-bold;
      font-size: 42px;
      line-height: 52px;
      text-align: -webkit-center;
    }

    &__input {
      padding-left: 15px;
      width: 565px;
      height: 48px;
      font-family: $nunito-light;
      font-size: rem(20px);
    }

    &__btn {
      width: 159px;
      height: 48px;
      color: white;
      font-family: $nunito-bold;
      font-size: rem(20px);
      font-weight: 800;
      background: #ffb800;
      border-radius: 8px;
    }

    &__forUsers {
      margin-top: 18px;
      font-family: $nunito-bold;
      font-size: 17px;
    }
  }
}

.daysFree {
  color: #ffb800;
}

.logoTittle {
  color: #ffb800;
  font-family: $manga-bold;
}

.landing__Otaku {
  margin: 68px 80px 0px 80px;

  &__contenair {
    @include flexbox(row-reverse, space-evenly);
  }

  &__description {
    font-family: $nunito-bold;
    font-size: rem(32px);
  }

  &__infosAll {
    // margin-top: 72px;
    font-family: $nunito-regular;
    font-size: rem(24px);
    line-height: 40px;

    &__info {
      margin-bottom: 53px;
    }
  }
}

.landing__platform {
  margin: 68px 80px 0px 80px;

  &__imgScreen {
    margin-top: 62px;
  }

  &__tittle {
    color: #ffb800;
    font-family: $nunito-bold;
    font-size: rem(32px);
  }

  &__container {
    @include flexbox(row-reverse, space-evenly);
  }

  &__serve {
    margin-top: 62px;
    margin-left: 50px;
    font-family: $nunito-regular;
    font-size: rem(24px);
    line-height: 50px;

    &__service {
      margin-bottom: 50px;
    }
  }
}

.landing__h2 {
  color: #ffb800;
  font-family: $nunito-bold;
  font-size: rem(32px);
}

.landing__allScreens {
  margin: 150px 80px 0px 80px;

  &__container {
    margin-top: 70px;
    @include flexbox($justify: space-evenly);
  }

  &__text {
    font-family: $nunito-regular;
    font-size: rem(24px);
    line-height: 50px;
    text-align: center;
  }

  &__mobTab__img {
    padding-bottom: 29px;
  }

  &__console__img {
    padding-bottom: 18px;
  }

  &__mobTab,
  &__console {
    transform: translateY(12px);
  }
}

.otakuSpan {
  color: #ffb800;
}

.landing__allScreens__simultaneous {
  margin-top: 62px;
  font-family: $nunito-regular;
  font-size: rem(24px);
  line-height: 50px;
}

.Landing__offline__animeDownload {
  width: 450px;
}

.landing__offline {
  margin: 150px 80px 0px 80px;
  font-family: $nunito-regular;
  font-size: rem(24px);
  line-height: 50px;

  &__animeDownload {
    width: 450px;
  }

  &__addMail {
    margin-top: 250px;
    text-align: center;
  }

  &__container {
    margin-top: 62px;

    @include flexbox($justify: space-evenly);

    &__layout {
      margin-right: 90px;
    }
  }

  &__underContainer {
    box-sizing: border-box;
    padding: 50px;
    width: 800px;
    height: 184px;
    border: 1px solid #ffb800;
    border-radius: 8px;

    @include flexbox($justify: space-evenly);

    ul {
      padding-left: 50px;
    }
  }
}

.Landing__offline__iconsDownload {
  padding-left: 58px;
}

// footer social media transform: translateY(-80px)
//footer entreprise help account retirer margin: 16px ou mettre o social medi la mm
// contenair div  footer__picture__personnage
//     <img
//     class="footer__picture footerPicture"
//     src="images/Footer-Img-Personnage.svg" />
