
  .mainSerie {
    height: 90vh;
    //background-image: url("/images/PageSerie-Hero-MyHeroAcademia.svg");
    position: relative;

    &__videoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-width: 100%;
      height: 80vh;
      z-index: -100;
    }
  
    .videoOnPageSerie {
 
      object-fit: cover;
      object-position: center;
      z-index: -100;
      height: 80vh;
  
    }

    .overlay {
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: black;
      background: rgb(2,0,36);
      background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(190,190,198,0) 55%);
    }

    .infosMainSerie{
      float: left;
      @include flexbox(column, space-between, space-between);
      position: relative;
      width: 50vw;
      margin: 0 80px;
      z-index: 2;


      .titleSerie {


        &__producer {
          color: $textWhite;
        }
      }

      .synopsis {
        color: $textWhite;
        margin-top: 24px;
      
      }

      .ratingStar {
        padding: 4px 0;
        justify-self: self-start;
        width: 80px;

      }

      .mainSerieButtons{
        @include flexbox(row,space-between, flex-start);
        width: 180px;
        margin-top: 16px;
       

        .buttonPlayMainSerie__box {
          height: 28px;
          width: 96px;
          background-color: $textYellow;
          text-align: center;
          @include flexbox(row, space-around, center);

          .boxButton__icon {
            height: 16px;
            width: 16px;

          }
        }
      }

    }
    

  }

  .allSeries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 80px;
  }


  .serieList {
    width: 360px;
    height: 260px;
    background-image: url("/images/PageSeries1-Jojo\'sBizarreAdventure-Action:Avneture-serie.svg");
    @include flexbox(row, space-between, flex-end);
    margin-top: 24px;

    &:hover {
      border: 2px solid $textYellow;
    }
    
    

    .serieLIstInfos {
      background-image: $backgroundImageFilm;
      @include flexbox(row, space-between, flex-end);
      height: 100px;
      width: 360px;
      padding: 0 8px 4px 8px;
      line-height: 1.5;

      &__category {
        font-size: rem(14px);
        font-family: $nunito-bold;
      }

      .serieLIstInfos__icons{
        align-self: center;
      }

     

    }


  }

  .allSeriesSecond {
    background-image: url("/images/PageSeries2-FairyTail-Fantastique-serie.svg");
  }

  .allSeriesThird {
    background-image: url("/images/PageSeries3-OnePunchMan-Action:Aventure-serie.svg");
  }

  .allSeriesFourth {
    background-image: url("/images/PageSeries4-MyHeroAcademia-Fantastique-serie.svg");
  }

  .allSeriesFifth {
    background-image: url("/images/PageSeries5-OnePiece-Action:Aventure-serie.svg");
  }

  .allSeriesSixth {
    background-image: url("/images/PageSeries6-NickyLarson-Mystere-serie.svg");
  }

  .allSeriesSeventh {
    background-image: url("/images/PageSeries7-Bakuman-Aventure-serie.svg");
  }

  .allSeriesEight {
    background-image: url("/images/PageSeries8-TheGardenOfSinner-Policier-serie.svg");
  }

  .allSeriesNineth {
    background-image: url("/images/PageSeries9-MegaloBox-Action-serie.svg");
  }

  .allSeriesTenth {
    background-image: url("/images/PageSeries10-NoGameNoLife-Fantastique-serie.svg");
  }

  .allSeriesElevent {
    background-image: url("/images/PageSeries11-D.GrayMan-Action-serie.svg");
  }

  .allSeriesTwelveth {
    background-image: url("/images/PageSeries12-DeathNote-thriller:pollicier-serie.svg");
  }

  .allSeriesThirdteenth {
    background-image: url("/images/PageSeries13-Darwin\'sGame-Aventure-serie.svg");
  }

  .allSeriesFourteenth {
    background-image: url("/images/PageSeries14-HunterxHunter-Fantastique-serie.svg");
  }

  .allSeriesFifteenth {
    background-image: url("/images/PageSeries15-FateStay-Fantastique-serie.svg");
  }
  .allSeriesSixteenth {
    background-image: url("/images/PageSeries6-NickyLarson-Mystere-serie.svg");
    display: none;

    @include desktop-Xlarge {
    display: block;
    }
  }