
  .mainFilm {
    height: 80vh;
    background-color: $textWhite;

    .infosMainFilm{
      float: left;
      @include flexbox(column, space-between, space-between);
      width: 50vw;
      margin: 0 80px;

      .titleFilm {


        &__producer {
          color: $black;
        }
      }

      .synopsis {
        color: black;
        margin-top: 24px;
      
      }
    }
    

  }

  .allFilms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 80px;
  }


  .filmList {
    width: 320px;
    height: 240px;
    background-image: url("/images/filmsOnPageFilms/Naruto\ film\ populaire.svg");
    @include flexbox(row, space-between, flex-end);
    margin-top: 24px;
    
    

    .filmLIstInfos {
      background-image: $backgroundImageFilm;
      @include flexbox(row, space-between, flex-end);
      height: 100px;
      width: 320px;
      padding: 0 8px 4px 8px;
      line-height: 1.5;

      &__category {
        font-size: rem(14px);
        font-family: $nunito-bold;
      }

      .filmLIstInfos__icons{
        align-self: center;
      }

     

    }


  }

  .allFilmsSecond {
    background-image: url("/images/filmsOnPageFilms/KUROKO’S\ BASKET\ HIGHLIGHTS\ Film\ populaire.svg");
  }

  .allFilmsThird{
    background-image: url("/images/filmsOnPageFilms/PERFECT\ BLUE\ Film\ populaire.svg");
  }



 

   

  

  





