
  .mainSerie {
    height: 90vh;
    //background-image: url("/images/PageSerie-Hero-MyHeroAcademia.svg");
    position: relative;
  }

  .allSeries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 80px;
  }


  .serieList {
    width: 360px;
    height: 260px;
    @include flexbox(row, space-between, flex-end);
    margin-top: 24px;

    &:hover {
      border: 2px solid $textYellow;
    }
    
    

    .serieLIstInfos {
      background-image: $backgroundImageFilm;
      @include flexbox(row, space-between, flex-end);
      height: 100px;
      width: 360px;
      padding: 0 8px 4px 8px;
      line-height: 1.5;

      &__category {
        font-size: rem(14px);
        font-family: $nunito-bold;
      }

      .serieLIstInfos__icons{
        align-self: center;
      }

     

    }


  }

  .allSeriesFirst {
    background-image: url('/images/PageSeries1-JOJO.svg');
  }

  .allSeriesSecond {
    background-image: url('/images/PageSeries2-FairyTail-Fantastique-serie.svg');
  }
  
  .allSeriesThird {
    background-image: url('/images/PageSeries3-OnePunchMan-ActionAventure-serie.svg');
  }
  
  .allSeriesFourth {
    background-image: url('/images/PageSeries4-MyHeroAcademia-Fantastique-serie.svg');
  }
  
  .allSeriesFifth {
    background-image: url('/images/PageSeries5-OnePiece-ActionAventure-serie.svg');
  }
  
  .allSeriesSixth {
    background-image: url('/images/PageSeries6-NickyLarson-Mystere-serie.svg');
  }
  
  .allSeriesSeventh {
    background-image: url('/images/PageSeries7-Bakuman-Aventure-serie.svg');
  }
  
  .allSeriesEighth {
    background-image: url('/images/PageSeries8-TheGarden-Policier-serie.svg');
  }
  
  .allSeriesNineth {
    background-image: url('/images/PageSeries9-MegaloBox-Action-serie.svg');
  }
  
  .allSeriesTenth {
    background-image: url('/images/PageSeries10-NoGameNoLife-Fantastique-serie.svg');
  }
  
  .allSeriesEleventh {
    background-image: url('/images/PageSeries3-OnePunchMan-ActionAventure-serie.svg');
  }
  
  .allSeriesTwelveth {
    background-image: url('/images/PageSeries12-DeathNote-pollicier-serie.svg');
  }
  
  .allSeriesThirdteenth {
    background-image: url("/images/PageSeries13-Darwin'sGame-Aventure-serie.svg");
  }
  
  .allSeriesFourteenth {
    background-image: url('/images/PageSeries14-HunterxHunter-Fantastique-serie.svg');
  }
  
  .allSeriesFifteenth {
    background-image: url('/images/PageSeries15-FateStay-Fantastique-serie.svg');
  }
  .allSeriesSixteenth {
    background-image: url('/images/PageSeries6-NickyLarson-Mystere-serie.svg');
    display: none;
  
    @include desktop-Xlarge {
      display: block;
    }
  }