.account__user {
  margin: 150px 10% auto;
  @include flexbox($justify: space-between);

  .account__profil {
    font-family: $manga-bold;
    font-size: rem(24px);
    text-align: center;

    .profil__picture {
      margin-bottom: 24px;
      width: 360px;
      height: 360px;
    }
  }

  .profil__info {
    @include flexbox(column);

    .animes__info {
      font-size: rem(20px);
      font-family: $nunito-regular;
      width: 223px;
      height: 100px;
      text-align: center;
      background: #895280;
      border-radius: 15px;
      @include flexbox;
    }

    .animes__info--inProgress {
      margin-bottom: 30px;
    }
  }
}

.manage {
  flex-wrap: wrap;
  margin-top: 400px;
  @include flexbox($justify: space-around);

  .manage__setting {
    font-family: $nunito-regular;
    margin-bottom: 100px;
    font-size: rem(20px);
    border-radius: 15px;
    width: 360px;
    height: 240px;
    @include flexbox(column);

    &:nth-child(1) {
      background-color: #ffb800;
    }
    &:nth-child(2) {
      background-color: #e25f29;
    }
    &:nth-child(3) {
      background-color: #69accb;
    }
    &:nth-child(4) {
      background-color: #e69282;
    }
    &:nth-child(5) {
      background-color: #5b4766;
    }
    &:nth-child(6) {
      background-color: #002de1;
    }

    .manage__picture {
      margin-bottom: 10px;
    }
  }
}
