// mainMyList

.mainFilm {
  height: 90vh;
  //background-image: url("/images/LesEnfants.png");
  position: relative;

  &__videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 80vh;
    z-index: -100;
  }

  .videoOnPageFilm {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 80vh;
    z-index: -100;
  }

  .overlayOnFilm {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(2, 0, 36, 0) 50%,
      rgba(190, 190, 198, 0) 100%
    );
  }

  .infosMainFilm {
    float: left;
    @include flexbox(column, flex-start, space-between);
    width: 50vw;
    margin: 0 80px;
    position: absolute;
    z-index: 2;

    .titleFilm {
      &__producer {
        color: $textWhite;
      }
    }

    .synopsis {
      color: $textWhite;
      margin-top: 24px;
    }

    .ratingStar {
      padding: 4px 0;
      justify-self: self-start;
      width: 80px;
    }

    .mainFilmButtons {
      @include flexbox(row, space-between, flex-start);
      width: 180px;
      margin-top: 16px;

      .buttonPlayMainFilm__box {
        height: 28px;
        width: 96px;
        background-color: $textYellow;
        text-align: center;
        @include flexbox(row, space-around, center);

        .boxButton__icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

.allFilms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px 80px;
}

.filmList {
  width: 360px;
  height: 260px;
  background-image: url('/images/PageFilm1-Naruto-Aventure-Film.svg');
  @include flexbox(row, space-between, flex-end);
  margin-top: 24px;

  &:hover {
    border: 2px solid $textYellow;
  }

  .filmLIstInfos {
    background-image: $backgroundImageFilm;
    @include flexbox(row, space-between, flex-end);
    height: 100px;
    width: 360px;
    padding: 0 8px 4px 8px;
    line-height: 1.5;

    &__category {
      font-size: rem(14px);
      font-family: $nunito-bold;
    }

    .filmLIstInfos__icons {
      align-self: center;
    }
  }
}

.allFilmsSecond {
  background-image: url('/images/filmsOnPageFilms/KUROKO’S\ BASKET\ HIGHLIGHTS\ Film\ populaire.svg');
}

.allFilmsThird {
  background-image: url('/images/filmsOnPageFilms/PERFECT\ BLUE\ Film\ populaire.svg');
}

.allFilmsFourth {
  background-image: url('/images/PageFilm4-Boruto-ActionAvendture-film.svg');
}

.allFilmsFifth {
  background-image: url('/images/PageFilm5-LeChateauAmbulant-Fantastique-Film.svg');
}

.allFilmsSixth {
  background-image: url('/images/PageFilm6-DrangonBallZ-Aventure-Film.svg');
}

.allFilmsSeventh {
  background-image: url('/images/PageFilm7-MewtwoVsMew-Fantastique-Film.svg');
}

.allFilmsEight {
  background-image: url('/images/PageFilm8-LaCollineAuxCoquelicots-Romance-Film.svg');
}

.allFilmsNineth {
  background-image: url('/images/PageFilm9-FairyTail-Fantastique-Film.svg');
}

.allFilmsTenth {
  background-image: url('/images/PageFilm10-NoGameNoLife-ActionAventure-Film.svg');
}

.allFilmsElevent {
  background-image: url('/images/PageFilm11-Doraemon-Fantastique-Film.svg');
}

.allFilmsTwelveth {
  background-image: url('/images/PageFilm12-Bleach-Aventure-Film.svg');
}

.allFilmsThirdteenth {
  background-image: url('/images/PageFilm13-Ponyo-Fantastique-Film.svg');
}

.allFilmsFourteenth {
  background-image: url('/images/PageFilm14-LaTraverseeDuTemps-Fantastique-Film.svg');
}

.allFilmsFifteenth {
  background-image: url('/images/PageFilm15-LesEnfantsLoup-Famille-Film.svg');
}

.allFilmsSixteenth {
  background-image: url('/images/PageFilm8-LaCollineAuxCoquelicots-Romance-Film.svg');
  display: none;

  @include desktop-Xlarge {
    display: block;
  }
}
