//ICI DÉCLARATIONS DES @fontface...


/*************************** NUNITO ******************************/



@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Regular'), url('/fonts/Nunito-Regular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Nunito Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Italic'), url('/fonts/Nunito-Italic.woff') format('woff');
  font-display: swap;
}



@font-face {
  font-family: 'Nunito Light';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Light'), url('/fonts/Nunito-Light.woff') format('woff');
  font-display: swap;
}



@font-face {
  font-family: 'Nunito SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito SemiBold'), url('/fonts/Nunito-SemiBold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Bold'), url('/fonts/Nunito-Bold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Nunito ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito ExtraBold'), url('/fonts/Nunito-ExtraBold.woff') format('woff');
  font-display: swap;
}





/*************************** MANGA TEMPLE ******************************/

@font-face {
  font-family: 'manga_templebold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/mangatb-webfont.woff2') format('woff2'),
    url('/fonts/mangatb-webfont.woff') format('woff');
  font-display: swap;
}




@font-face {
  font-family: 'manga_templeitalic';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/mangati-webfont.woff2') format('woff2'),
    url('/fonts/mangati-webfont.woff') format('woff');
  font-display: swap;
}




@font-face {
  font-family: 'manga_templeregular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/mangat-webfont.woff2') format('woff2'),
    url('/fonts/mangat-webfont.woff') format('woff');
  font-display: swap;
}
