// FUNCTIONS
@function rem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

// appliquer la propriété de cette façon : font-size: rem(14px);

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//************** ne pas enlever *************//
$desktop-Xlarge: 1668px;

@mixin desktop-Xlarge {
  @media (min-width: $desktop-Xlarge) {
    @content;
  }
}

$desktop-up: 1300px;

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

//************** ne pas enlever *************//


.content-wrapper {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1106px;


  @include desktop-up {
    max-width: 1206px;
    padding: 0;

  }

  @include desktop-Xlarge {
    max-width: 1406px;
    padding: 0;

  }
}