//************************* COLORS *************************//

// PRIMARY :
$black: #222222;
$white: #ffffff;

// SECONDARY
$BackgroundColor: linear-gradient(90deg, #000a30 0%, #014a8d 100%);
$secondaryGradient: linear-gradient(90deg,
  #012659 0%,
  #b4231f 50%,
  #f9b32d 100%);
$backgroundBlue: #000a30;
$DetailsDarkGrey: #434656;
$DetailsLightGrey: #a7aabc;
$DetailsBlue: #336ed0;
$textYellow: #f9b32d;
$textOrange: #b4231f;
$textWhite: #f5f5f5;

//************************* GRADIENT *************************//

$gradient: linear-gradient(90deg, #6b75ca 0%, rgba(240, 243, 248, 0) 100%);

//************************* FONTS *************************//

$manga-regular: 'manga_templeregular',
sans-serif;
$manga-bold: 'manga_templebold',
sans-serif;
$nunito-light: 'Nunito Light',
sans-serif;
$nunito-bold: 'Nunito Bold',
sans-serif;
$nunito-regular: 'Nunito Regular',
sans-serif;

//************************* BREAKING POINTS *************************//

$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;
$desktop-Xlarge: 1668px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

@mixin desktop-Xlarge {
  @media (min-width: $desktop-Xlarge) {
    @content;
  }
}

//************************* GLOBAL *************************//

$headerHeight: 40px;

//************************* MIXINS *************************//

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin format_vw-vh {
  width: 100vw;
  height: 100vh;
}

// vitesse/scale peut-être à regler.
@mixin scale-animation {
  transition: all 0.2s ease-in;

  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@mixin scale-animation-medium {
  transition: all 0.2s ease-in;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@mixin scale-animation-icon {
  transition: all 0.2s ease-in;

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@mixin scale-animation-text {
  transition: all 0.2s ease-in;

  &:hover {
    color: $textYellow;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}