//************************* COLORS *************************//


// PRIMARY :
$black: #222222;
$white: #FFFFFF;
// $purple: #6B75CA;
// $lightPurple: #B6BCF2;
// $ultraLightPurple: #F0F3F8;

// SECONDARY
// $brown: #D29B85;
// $turquoise: #64E0B9;
// $blue: #95E1EC;
// $darkBlue: #219AAA;
// $yellow: #F4C61E;
// $lightPink: #F3A2A2;
// $marine: #2C3950;
// $pink: #E972DD;
// $orange: #FD8F51;
// $green: #06FB85;
$BackgroundColor: linear-gradient(90deg, #000a30 0%, #014a8d 100%);
$secondaryGradient: linear-gradient(90deg, #012659 0%,#b4231f 50%, #f9b32d 100%);
$DetailsDarkGrey: #434656;
$DetailsLightGrey: #A7AABC;
$DetailsBlue: #336ED0;






//************************* GRADIENT *************************//

$gradient: linear-gradient(90deg, #6B75CA 0%, rgba(240, 243, 248, 0) 100%);





//************************* FONTS *************************//

$font: 'Sofia Pro',
sans-serif;





//************************* BREAKING POINTS *************************//

$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}



//************************* GLOBAL *************************//

$headerHeight: 40px;





//************************* MIXINS *************************//


@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin format_vw-vh {
  width: 100vw;
  height: 100vh;
}