// mes importations de feuilles de styles.scss

// IMPORTATIONS DU DOSSIER GLOBAL

@import 'global/_reset.scss';
@import 'global/_utilities.scss';
@import 'global/_variables.scss';
@import 'global/_fonts.scss';
@import 'global/_typography.scss';
@import 'global/_icons.scss';
@import 'global/_cta.scss';

// COMPONENTS
// ici importations des éléments génériques qui se répétent souvent dans le site : calltoactions, cards...
@import 'components/_smallSlider.scss';
@import 'components/_mediumSlider.scss';
@import 'components/_button.scss';
@import 'components/_suggestion.scss';
@import 'components/_cardFilm.scss';
@import 'components/_cardSerie.scss';
@import 'components/_bandeauSerie.scss';
@import 'components/_bandeauFilm.scss';
@import 'components/_videoPlayer.scss';
@import 'components/_menuUsers.scss';
@import 'components/_heroHeader.scss';

// LAYOUTS
// ici importations des pages correspondants aux éléments du site : menuburger, hero, aside, footer, header, caroussel...
@import 'layouts/_header.scss';
@import 'layouts/_footer.scss';
@import 'layouts/_genre.scss';

// PAGES
// ici importations des pages du site : homepage, contact, panier, articles, FAQ...
@import 'pages/_homepage.scss';
@import 'pages/_connexion.scss';
@import 'pages/_users.scss';
@import 'pages/_landing.scss';
@import 'pages/_ficheFilms.scss';
@import 'pages/_ficheSeries.scss';
@import 'pages/_pageSeries.scss';
@import 'pages/_pageFilms.scss';

body {
  color: $textWhite;
  font-family: 'Nunito Regular';
  background-image: linear-gradient(90deg, #000a30 0%, #014a8d 100%);
}

// .main {
//   height: 40vh;
// }

p {}